body {
    font-family: 'Montserrat' !important;
}
a {
    font-size: 12px;
}
p{
    font-size: 16px;
}

#hero-section .bottom-left {
    position: relative;
    bottom: 313px; 
}
#hero-section .img-content {
    position: relative;
}
 
#hero-section .img-content img{
    height: 600px;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#hero-section input{
    width: 300px;
    height: 88px;
}
.input-group>.form-control{
  flex: none !important;
}
#hero-section .search-resturants{
    width: 123px;
    height: 14px;
    margin: 0 26px 0 0;
    
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.93;
    letter-spacing: normal;
    color: #fff;
}
#hero-section .btn {
    width: 225px;
    height: 88px;
    background-image: linear-gradient(112deg, #648fc4, #2e4e87 98%);
    color: white;
}
/* .hero-btn{
    border-radius: 1rem;
} */
.form-control{
    border-radius: 1rem;
}
#discover .content-position {
  position: absolute;
  bottom: 25px;
  left: 25px;
}
#discover .discover-content {
    position: relative;
}
 
#discover .discover-content img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

li{
    list-style-type: none;
}
.btn-primary{
background-color: #345692 !important;
}


#nvabar-field input {
    width: 191px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 24px;
    border: 0px;
    background-color: #f1f1f1;
}
#nvabar-field .form-control::placeholder {
  width: 82px;
  height: 14px;
  margin: 0 66px 0 0;
  font-family: 'Montserrat';
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #b4b4b4;
}

.nav-link{
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
   color: #333;
   opacity: 0.9;
}
.text-secondary{
    color: #fff !important;
}


#images-card img{
    width: 100%;
    height: 379px;
}
#images-card .card-content{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
    left: 0px;
    
}
.places-card{
    position: relative;
    margin-bottom: 24px;
}
#footer a {
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 35px;
    letter-spacing: 0.12px;
    margin: 9px 47px 10px 1px;
    color: #fff !important;
    opacity: 0.6;
   
}
#footer h6 {
    margin: 4px 113px 20px 0;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: 1.5px;
    color: #fff;
}
#footer .text-dark{
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.61;
  letter-spacing: 0.21px;
  text-align: center;
  margin-bottom: 0;
  color: #fff !important;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
    #filter .filter-content{
        margin-top: 25px;
        
    }
    #filter .btn{
        border-radius: 24px;
    }
    #filter .card-img{
        margin-top: 14px;
        padding: 4px;
        border-radius: 18px;
    }
    #filter img{
        width: 150px;
        height: 150px;
        border-radius: 20px;
    }
    #filter i{
        color: #e69c08;
    }
    #filter .type-of-restaurant{
      width: 88px;
      height: 14px;
      font-family: 'Montserrat';
      font-size: 11px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.27;
      letter-spacing: normal;
      color: #666;
    }
    #discover input{
        height: 56px;
        width: 392px;
        padding: 13px 217px 13px 13px;
        border-radius: 12px;
        background-color: #fff;
    }
    #discover .btn {
        width: 159px;
        height: 56px;
        padding: 19px 42px 18px;
        margin-left: 10px;
        border-radius: 12px;
        background-color: #fff;
    }
    #discover .subscribe{
        width: 75px;
        height: 19px;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #333;
    }

    #images-card .Explore{
        font-size: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #333;
    }
    #nearby .nearby-you{
        margin: 2px 100px 3px 1px;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #333;
    }
    #nearby .card-img{
        margin-top: 30px;
        padding: 10px;
        border-radius: 26px;
    }
    #nearby img{
        width: 176px;
        height: 198px;
        margin: 0 24px 0 0;
        padding: 0 1px 0 0;
        object-fit: cover;
        border-radius: 26px;
    }
    #nearby .text-wrap{
        white-space: nowrap !important;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    #nearby i{
        color: #e69c08;
    }
    #nearby .viewall-text{
      width: 52px;
      height: 16px;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #345692;
    }
    #nearby .btn {
      width: 160px;
      height: 48px;
      margin-top: 40px;
      margin-bottom: 40px;
      border-radius: 12px;
      background-color: rgba(52, 86, 146, 0.05);
    }
    #footer footer{
        /* width: 1583px;
        height: 363px; */
        padding: auto;
        border-radius: 4px;
        background-color: #345692;
    }
#detailpagehero-section .img-fluid{
    border-radius: 24px !important;
}
#Restaurants .rounded{
    width: 100%;
    height: 576px;
}
#Restaurants .text-rest {
    width: 93px;
    height: 24px;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333;
}
#Restaurants .btn {
    border-radius: 24px;
    width: 77px; 
}
#Restaurants .overviewbtn {
    background-color: #345692;
}
#Restaurants .overview-text{
    width: 49px;
    height: 14px;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
#Restaurants .overview-textblack{
    width: 35px;
    height: 14px;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #666;
}
.login-container {
    margin-top: 3%;
    border: 1px solid #CCD1D1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 1036px;
  }
  .ads {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    padding: 0px;
    text-align: center;
  }
  
  .ads h1 {
    margin-top: 20%;
  }
  
  #fl {
    font-weight: 600;
  }
  
  #sl {
    font-weight: 100 !important;
  }
   
  .profile-img img {
    border-radius: 50%;
  
  }
  
  @keyframes mymove {
    from {border: 1px solid #F2F3F4;}
    to {border: 8px solid #F2F3F4;}
  }
  
  .login-form {
    padding: 15px;
  }
  
  .login-form h3 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .form-control {
    font-size: 14px;
  }
  
  .forget-password a {
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
  }
#login-section .lakewake-text {
    margin: auto;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00aae0;
  }
  #login-section .accountlogin-text {
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333;
  }
  #login-section .welcome-text {
    /* width: 215px; */
    height: 38px;
    margin: auto;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #928d8d
  }
  #login-section .form-group .form-control {
    width: 323px;
    height: 48px;
    margin: auto;
    /* padding: 14px 230px 14px 12px; */
    border-radius: 14px;
    background-color: #f5f5f5;
  }
  #login-section .form-group .form-control::placeholder {
    width: 63px;
    height: 13px;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b3b3b3;
  }
  #login-section .form-group .btn{
    width: 323px;
    height: 48px;
    margin: auto;
    border-radius: 14px;
    background-color: #345692;
  }
  #login-section .signin-text {
    width: 42px;
    height: 17px;
    margin: 3px 60px 4px;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  #login-section .forget-password {
    width: 126px;
    margin: auto;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #345692;
  }
  #login-section .wake-text{
    color: #345692;
  }
  #Restaurants .tavolo-text{
    width: 333px;
    height: 48px;
    margin: 24px 285px 0 0px;
    /* font-family: 'Montserrat'; */
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333;
  }
  #Restaurants .Overview {
    width: 89px;
    height: 24px;
    margin: 32px 10px 23.5px 182px;
    /* font-family: 'Montserrat'; */
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333;
  }
  #Restaurants .para1-text {
    width: 523px;
    height: 64px;
    margin: 21.5px 95px 32px 0px;
    /* font-family: 'Montserrat'; */
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333;
  }
  #Restaurants .para2-text {
    width: 523px;
    height: 32px;
    margin: 32px 95px 16px 0px;
    /* font-family: 'Montserrat'; */
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333;
  }
  #Restaurants .para3-text {
    width: 523px;
    height: 16px;
    margin: 16px 95px 64px 0px;
    /* font-family: 'Montserrat'; */
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333;
  }
  #Restaurants .hr {
    width: 524px;
    height: 2px;
    margin: 23.5px 94px 21.5px 0px;
    border: solid 1px #e6e6e6;
  }
  .ads{
    overflow: hidden;
  }
.ads img{
  object-fit: cover;
  height: 500px;
  width:100%
}
.btn-primary{
  border-color: #00000000 !important;
}